<!DOCTYPE html>
<html lang="en">
<head>
  <title>Service Center</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/center/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
  
  
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/static/center/images/logo.jpg" width="50" height="50"></a>
      <a class="navbar-brand" href="#">SERVICE CENTER</a>
    </div>
    <ul class="nav navbar-nav" onclick="activate()">
      {% if request.user.is_authenticated%}
	 <li class="active"><a href="/caller">caller</a></li>
      <li><a href="/product">product</a></li>
      <li><a href="/productowner">productowner</a></li>
      <li><a href="/technician">technician</a></li>
      <li><a href="/company">COMPANY</a></li>
      <li><a href="/call">call</a></li>
      
      <li><a href="/signout">SIGNOUT</a></li>
      {% else %}
      <li><a href="/signin">SIGNIN</a></li>
       <li><a href="/signup">SIGNUP</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
  
<div class="container" style="margin-top:50px">
	{% block content%}
	<div class="row">
		<div class="col-sm-12">
			<h1>ABOUT</h1>
			<p>Customer can signup themselves can see their call details
			Customer can signup themselves can see their call details
		Customer can signup themselves can see their call details
	Customer can signup themselves can see their call details</p>
		</div>
	</div>
 	{% endblock %}
</div>
</body>
</html>
