{% extends "center/home.html"%}
{% block content%}
<div class="row">
	<div class="col-sm-12">
			<h4>{{ message }}</h4>
			<h1>PRODUCTS</h1>
			<h3></h3><a href="/product_create"> CREATE PRODUCT</a></h3>
		</div>	

</div>	
<div class="row">
	<div class="col-sm-12">
		<form>
			{{form.as_table}}
			<input type="submit" name="" value="GET PRODUCTS">
			<input type="submit" name="" value="NEXT">
		</form>
		
	</div>
	
</div>
<div class="row">
	<div class="col-sm-12">
		<h4>COUNT:{{paginator.count}},pages:{{paginator.num_pages}},have next:{{page_object.has_next}}

		has_previous: {{page_object.has_previous}}, perpage:{{perpage}}
		</h4>
	</div>
	
</div>
<div class="row">
	<div class="col-sm-12">
		<table id="datatable" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>NAME</th><th>DESCRIPTION</th><th>COMPANY</th><th>OPERATIONS</th>
				</tr>
			</thead>
			<tbody>
				{% for product in page_object.object_list%}
				<tr>
					<td>{{product.name}}</td>
					<td>{{product.description}}</td>
					<td>{{product.company}}</td>
					<td>
						<a href="/product_update/{{product.id}}">UPDATE</a>
						<a href="/product_delete/{{product.id}}">DELETE</a>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

</div>
{% endblock %}


